<div class="main-header">
  <div class="main-header-left">
    <div clas="room-content">
      <%= @room.name %>
    </div>
  </div>
  <div class="chat-close-btn">
    <%= link_to 'チャットを終了する', room_path(@room), method: :delete %>
  </div>
</div>

<div class="chat-view">
  <div class="chat-messages">
      <%= render partial: "message", collection: @messages %>
  </div>
</div>

<%= form_with model: [@room, @message], class: "main-footer", local: true do |f|%>
  <div class="input-form">
    <%= f.text_field :content, class:"content-form", placeholder: "type a message" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit "送信", class: "form-submit" %>
<% end %>